*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.table{
     width: 100%;
     height: 100%;
     padding: 20px;
}
.table table{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
}
tbody{
    text-align: center;
    color: #235a81;
    font-size: 17px;
}
tr{
    background: hsl(147, 79%, 74%);
}
tr:nth-child(odd){
    background: hsl(147, 79%, 74%);   
}
tr td{
    padding: 6px;
}
tr:hover{
    background: #444;
    color: #fff;
}
thead th, tfoot th{
    background: #888;
    font-size: 19px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid hsl(145, 76%, 49%);
    padding: 8px;
}